<div class = "plug-2"></div>

<div class = "form-shell">
<div id = "navigation-form">
  <div class="pseudo">
    <%= link_to "Войти", signin_path %>
    <%= link_to "Регистрация", registration_path %>
  </div>
</div>


<%= form_for(:session_user, url: sessions_path) do |f| %>
  <h2>Вход на сайт</h2>
  <legend>Введите свои данные</legend>
  <div class="field">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Пароль" %>
  </div>

  <%= f.submit "Sign in", :class => "button middle_green"  %>
<% end %>
<div class="forgot_pass">
  <%= link_to "Забыли пароль?", new_password_reset_path %>
</div>


</div>