<div class = "plug-2"></div>

<div class = "form-shell">
<div id = "navigation-form">
  <div class="pseudo">
    <%= link_to "Войти", signin_path %>
    <%= link_to "Регистрация", registration_path %>
  </div>
</div>

 
<%= form_for @client, url: password_reset_path(@client.password_reset_token), html: { method: :patch } do |form| %>
  <h2>Изменение пароля</h2>
  <div class="field">
    <%= form.password_field :password, placeholder: "Пароль" %>
  </div>
  <div class="field">
    <%= form.password_field :password_confirmation, placeholder: "Подтверждение" %>
  </div>

  <%= submit_tag "Изменить пароль", :class => "button middle_green" %>
<% end %>
</div><!--/form-shell-->