<h1>Добро пожаловать</h1>
Сейчас <%= Time.now %><br><br>

<%= link_to 'Управление пользователями', clients_path %><br><br>
<%= link_to  controller: "categories", type: 1 do %>
  <%= "<i class='fa fa-bus'></i><span>Управление категориями</span>".html_safe %>
<% end %><br><br>
<%= link_to 'Управление услугами', services_path %><br><br>

<%= button_to 'Logout', logout_path, method: :delete %>