<div class = "form-shell">
<div id = "navigation-form">
  <div class="pseudo">
    <%= link_to "Войти", signin_path %>
    <%= link_to "Регистрация", registration_path %>
  </div>
</div>

<%= form_for @client, :html => {:multipart => true} do |f| %>
  <h2><%= h2 %></h2>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%# pluralize(@client.errors.count, "error") %>
        Cведения об этом пользователе не могут быть сохранены:
      </h2>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Введите сведения о пользователе</legend>

  <div class="field">
    <%= f.text_field :name, :placeholder => "ФИО" %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, :placeholder => "Пароль"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Подтверждение" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Телефон" %>
  </div>
   <div class="field">
    <%= f.file_field :photo %>
  </div>

   <div class="actions">
    <%= f.submit :class => "button middle_green", :value => submit_name %>
  </div>

  </fieldset>
<% end %>

</div><!--/form-shell-->
