<p align="center">
	<strong>Личный кабинет</strong>
</p>
<p>
  <%= image_tag @client.photo_url(:thumb).to_s %><br>
  <strong>Name:</strong>
  <%= @client.name %>
  <strong>Email:</strong>
  <%= @client.email %>

</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', client_path %>
