<p align="center">
	<strong></strong>
</p>

<div class="clearfix">
  <div id = "user-info" class="clearfix" >
  <% if current_client.id == @client.id %>
    <div class="pseudo clearfix var1">
  <% else %>
    <div class="pseudo clearfix var2">
  <% end %>
      <div class = "foto">
        <%# image_tag @client.photo_url(:thumb).to_s %>
        <img src = "/assets/valera.jpg" />
      </div><!--/foto-->

      <div class = "user-description">
      <div class = "pseudo">
        <h2><%= @client.name %></h2>
        <p>
          <strong>Телефон:</strong>
          <em><%= @client.phone %></em><br>
        </p>
        <p>
          <strong>Почта:</strong>
          <em><%= @client.email %></em>
        </p>
        <p>
          <strong>Баллы:</strong>
          <em>1000</em>
        </p>
      </div><!--/pseudo-->
      </div><!--/user-description-->
    </div><!--/pseudo-->

  <% if current_client.id == @client.id %>
    <div id = "user-menu-horizontal">
      <div class="personal-link">
        <%= link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div><!--/personal-link-->
      <div class="personal-link">
        <%= link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div><!--/personal-link-->
      <div class="personal-link">
        <%= link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div><!--/personal-link-->
      <div class="personal-link">
        <%= link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div><!--/personal-link-->
      <div class="personal-link">
        <%= link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div><!--/personal-link-->
    </div><!--/user-menu-horizontal-->
  <% end %>
  </div><!--/user-info-->

  <div id = "reviews">
    <div class = "title">
      <h2>Отзывы</h2>
    </div><!--/title-->
    <div class = "review-text">
     <p>Посчастливилось работать с Ксенией - остались только положительные эмоции. Грамотный, профессиональный подход к делу и чёткое следование всем требованиям технического задания. Обязательно буду обращаться ещё!</p>
     <span class = "author">Эдгар</span>
    </div><!--/review-text-->
  </div><!--/reviews-->
</div><!--/clearfix-->

<div id = "i-want-column">
  <h2>Текущие объявления</h2>
  <span id = "client-add-advertisements", class = "add-button">
    <i class="fa fa-plus"></i> Добавить новое объявление
  </span>

  <div id = "ad-posts">
  <% @client.advertisements.order('created_at DESC').each do |ad| %>
    <div class="post" data-ad="<%= ad.id %>">
    <% if current_client.id == @client.id %>
      <span  class = "edit-ad-link edit-advertisement">
        <i class="fa fa-pencil"></i>
      </span>
      <%# link_to(edit_advertisement_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
        <!--i class="fa fa-pencil"></i-->
      <%# end %>
    <% end %>
      <h2>
        <span class = "category" data-cat = "<%= ad.service.category.id %>">
          <%= ad.service.category.name %></span>:
        <span class = "service" data-service = "<%= ad.service.id %>">
          <%= ad.service.name %>
        </span>
      </h2>
      <p><%= ad.description %></p>

      <div class = "duration">
        <span class = "duration-ad"><%= ad.duration %></span><br/>дней
      </div>

      <div class="contact clearfix"> 
        <div>
          <span class = "label">Город:</span>
          <span class = "city"><%= ad.city %></span>
        </div>
        <div>
          <span class = "label">Адрес:</span>
          <span class = 'address'><%= ad.address %></span>
        </div>
        <div class="date">
          <%= ad.date.strftime("%d/%m/%Y") %>
        </div>
      </div><!--/contact-->
      <span class = "price"><%= ad.price %> <i class='fa fa-rub' style = 'font-size: 0.9em;'></i></span><br>

      <% if ad.worker_id %>
        <% if worker = Client.find_by_id(ad.worker_id) %>
          <div class="worker">
            <%= link_to "Исполнитель - #{worker.name}", worker,
              :class => "button light-yellow" %>
            <span class = "cancel-worker button light-yellow">
              Отменить исполнителя
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div><!--/ad-posts-->
</div>

<div id = "i-can-column">
  <h2>Текущие услуги</h2>
  <span id = "client-add-workers", class = "add-button">
    <i class="fa fa-plus"></i> Добавить новую услугу
  </span>

  <div id = "worker-posts">
    <% @client.workers.order('created_at DESC').each do |ad| %>
      <div class="post">
      <% if current_client.id == @client.id %>
        <%= link_to(edit_worker_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
        <h2>
          <span class = "category" data-cat = "<%= ad.service.category.id %>">
            <%= ad.service.category.name %></span>:
          <span class = "service" data-service = "<%= ad.service.id %>">
            <%= ad.service.name %>
          </span>
        </h2>
        <p><%= ad.description %></p>
        <span class = "price"><%= ad.price %> <i class='fa fa-rub' style = 'font-size: 0.9em;'></i></span>
      </div>
    <% end %>
  </div><!--/worker-posts-->
</div>

<%= render 'new_advertisement' %>
<%= render 'new_worker' %>
<%= render 'edit_advertisement' %>