<p align="center">
	<strong></strong>
</p>

<div id = "user-info" class="clearfix" >
<% if current_client.id == @client.id %>
  <div class="pseudo clearfix var1">
<% else %>
  <div class="pseudo clearfix var2">
<% end %>
    <div class = "foto">
      <%= image_tag @client.photo_url(:thumb).to_s %>
    </div><!--/foto-->

    <div class = "user-description">
    <div class = "pseudo">
      <h2><%= @client.name %></h2>
      <p>
        <strong>Телефон:</strong>
        <em>79215563210</em>
      </p>
      <p>
        <strong>Почта:</strong>
        <em>wetcorsair@gmail.com</em>
      </p>
      <p>
        <strong>Баллы:</strong>
        <em>1000</em>
      </p>
    </div><!--/pseudo-->
    </div><!--/user-description-->
  </div><!--/pseudo-->

<% if current_client.id == @client.id %>
  <div id = "user-menu" class="clearfix">
    <div class="personal-link">
      <%= link_to(edit_client_path(@client)) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
    <div class="add-ad">
      <%= link_to(new_advertisement_path) do %>
        <i class="fa fa-plus"></i> Я хочу
      <% end %>
      <%= link_to(new_worker_path) do %>
        <i class="fa fa-plus"></i> Я могу
      <% end %>
    </div>
  </div><!--/user-menu-->
<% end %>
</div><!--/user-info-->

<div id = "reviews">
  <div class = "title">
    <h2>Отзывы</h2>
  </div><!--/title-->
  <div class = "review-text">
   <p>Посчастливилось работать с Ксенией - остались только положительные эмоции. Грамотный, профессиональный подход к делу и чёткое следование всем требованиям технического задания. Обязательно буду обращаться ещё!</p>
   <span class = "author">Эдгар</span>
  </div><!--/review-text-->
</div><!--/reviews-->

<div id = "i-want-column">
  <h2>Текущие объявления</h2>

  <% @client.advertisements.each do |ad| %>
    <div class="post">
    <% if current_client.id == @client.id %>
      <%= link_to(edit_advertisement_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
      <h2><%= ad.name %></h2>
      <p><%= ad.description %></p>
      <span class = "price"><%= ad.price %> у.е.</span>
    </div>
  <% end %>
</div>

<div id = "i-can-column">
  <h2>Текущие услуги</h2>
  <% @client.workers.each do |ad| %>
    <div class="post">
    <% if current_client.id == @client.id %>
      <%= link_to(edit_worker_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
      <h2><%= ad.name %></h2>
      <p><%= ad.description %></p>
      <span class = "price"><%= ad.price %> у.е.</span>
    </div>
  <% end %>
</div>