<p align="center">
	<strong></strong>
</p>

<div id = "user-info" class="clearfix" >
<% if current_client.id == @client.id %>
  <div class="pseudo clearfix var1">
<% else %>
  <div class="pseudo clearfix var2">
<% end %>
    <div class = "foto">
      <%# image_tag @client.photo_url(:thumb).to_s %>
      <img src = "/assets/valera.jpg" />
    </div><!--/foto-->

    <div class = "user-description">
    <div class = "pseudo">
      <h2><%= @client.name %></h2>
      <p>
        <strong>Телефон:</strong>
        <em><%= @client.phone %></em><br>
      </p>
      <p>
        <strong>Почта:</strong>
        <em><%= @client.email %></em>
      </p>
      <p>
        <strong>Баллы:</strong>
        <em>1000</em>
      </p>
    </div><!--/pseudo-->
    </div><!--/user-description-->
  </div><!--/pseudo-->

<% if current_client.id == @client.id %>
  <div id = "user-menu-horizontal">
    <div class="personal-link">
      <%= link_to(edit_client_path(@client), class: "a-personal") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
    <div class="personal-link">
      <%= link_to(edit_client_path(@client), class: "a-personal") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
    <div class="personal-link">
      <%= link_to(edit_client_path(@client), class: "a-personal") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
    <div class="personal-link">
      <%= link_to(edit_client_path(@client), class: "a-personal") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
    <div class="personal-link">
      <%= link_to(edit_client_path(@client), class: "a-personal") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div><!--/personal-link-->
  </div><!--/user-menu-horizontal-->

  <!--div id = "user-menu" class="clearfix">
    <div class="personal-link">
      <%# link_to(edit_client_path(@client)) do %>
        <i class="fa fa-pencil"></i>
      <%# end %>
    </div>
    <div class="add-ad">
      <%# link_to(new_advertisement_path) do %>
        <i class="fa fa-plus"></i> Я хочу
      <%# end %>
      <%# link_to(new_worker_path) do %>
        <i class="fa fa-plus"></i> Я могу
      <%# end %>
    </div>
  </div--><!--/user-menu-->
<% end %>
</div><!--/user-info-->

<div id = "reviews">
  <div class = "title">
    <h2>Отзывы</h2>
  </div><!--/title-->
  <div class = "review-text">
   <p>Посчастливилось работать с Ксенией - остались только положительные эмоции. Грамотный, профессиональный подход к делу и чёткое следование всем требованиям технического задания. Обязательно буду обращаться ещё!</p>
   <span class = "author">Эдгар</span>
  </div><!--/review-text-->
</div><!--/reviews-->

<div id = "i-want-column">
  <h2>Текущие объявления</h2>

  <% @client.advertisements.each do |ad| %>
    <div class="post" data-ad="<%= ad.id %>">
    <% if current_client.id == @client.id %>
      <%= link_to(edit_advertisement_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
      <h2><%= ad.service.name %></h2>
      <p><%= ad.description %></p>
      <span class = "price"><%= ad.price %> у.е.</span><br>

      <% if ad.worker_id %>
        <% if worker = Client.find_by_id(ad.worker_id) %>
          <div class="worker">
            <%= link_to "Исполнитель - #{worker.name}", worker,
              :class => "button light-yellow" %>
            <span class = "cancel-worker button light-yellow">
              Отменить исполнителя
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div id = "i-can-column">
  <h2>Текущие услуги</h2>
  <% @client.workers.each do |ad| %>
    <div class="post">
    <% if current_client.id == @client.id %>
      <%= link_to(edit_worker_path(ad.id), class: "edit-advertisement", title: "Изменить") do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
      <h2><%= ad.service.name %></h2>
      <p><%= ad.description %></p>
      <span class = "price"><%= ad.price %> у.е.</span>
    </div>
  <% end %>
</div>