<p align="center">
	<strong></strong>
</p>

<div class="clearfix">
  <div id = "user-info" class="clearfix" >
  <% if current_client.id == @client.id %>
    <div class="pseudo clearfix var1">
  <% else %>
    <div class="pseudo clearfix var2">
  <% end %>
      <div class = "foto">
        <%= image_tag @client.photo_url(:thumb).to_s %>
        <div class = "name">Фирма</div>
        <div class = "specialization">Сантехник</div>
      </div><!--/foto-->

      <div class = "user-description">
      <div class = "pseudo">
        <h2><%= @client.name %></h2>
        <p id = "about-me">
        "СОРД" "Строительство Отделка Ремонт Дизайн" С троительство котеджий и загородных домов, внутреняя отделка, инжинерные системы, малые архитектурные формы, ланшафт, пруды, газоны, клумбы. Ремонт от эксклюзивного до косметического. Стоимомть ремонта от 1500 до 24500 рублей за м2. Работы производятся по смете и с заключением договора.
        </p>
        <div class="contacts">
          <p>
            <strong>Телефон:</strong>
            <em><%= @client.phone %></em><br>
          </p>
          <p>
            <strong>Почта:</strong>
            <em><%= @client.email %></em>
          </p>
        </div><!--/contacts-->
      </div><!--/pseudo-->
      </div><!--/user-description-->
    </div><!--/pseudo-->

  <%# if current_client.id == @client.id %>
    <!--div id = "user-menu-horizontal">
      <div class="personal-link">
        <%# link_to(edit_client_path(@client), class: "a-personal") do %>
          <i class="fa fa-pencil"></i>
        <%# end %>
      </div><!--/personal-link-->
      <!--div class="personal-link">
        <%# link_to(more_info_clients_path, class: "a-personal") do %>
          <i class="fa fa-angellist"></i>
        <%# end %>
      </div><!--/personal-link-->
    <!--/div><!--/user-menu-horizontal-->
  <%# end %>
  </div><!--/user-info-->

  <div id = "reviews">

    <h2 class = "title">Отзывы</h2>
    <p class = "review-text">
      Посчастливилось работать с Ксенией - остались только положительные эмоции. Грамотный, профессиональный подход к делу и чёткое следование всем требованиям технического задания. Обязательно буду обращаться ещё!
     <span class = "author">Эдгар</span>
    </p><!--/review-text-->
  </div><!--/reviews-->
</div><!--/clearfix-->

<%#   
  type_user: 0 ---> user
  type_user: 1 ---> builder
%>
<% if current_client.type_user == 0 %>

  <div id = "i-want-column">
    <h2 class = "header-h2">Текущие объявления</h2>
  <% if current_client.id == @client.id %>
    <span id = "client-add-advertisements", class = "add-button">
      <i class="fa fa-plus"></i> Добавить новое объявление
    </span>

  <% end %>
    
    <%#   
      page_type: 0 ---> advertisements#index page
      page_type: 1 ---> clients#show page
    %>
    <%= render 'advertisements/advertisement_post', {advertisements: @client.advertisements, page_type: 1} %>
  </div>

  <div id = "i-can-column">
    <h2>Текущие услуги</h2>
    <% if current_client.id == @client.id %>
      <span id = "client-add-workers", class = "add-button">
        <i class="fa fa-plus"></i> Добавить новую услугу
      </span>
    <% end %>

    <div id = "worker-posts">
      <% @client.workers.order('created_at DESC').each do |ad| %>
        <div class="post" data-worker=<%= ad.id%>>
        <% if current_client.id == @client.id %>
          <span  class = "edit-worker-link edit-advertisement">
            <i class="fa fa-pencil"></i>
          </span>
          <span class = "delete-ad-link-big-boobs delete-link">
            <i class = "fa fa-trash"></i>
          </span>
        <% end %>
          <h2>
            <span class = "category" data-cat = "<%= ad.service.category.id %>">
              <%= ad.service.category.name %></span>:
            <span class = "service" data-service = "<%= ad.service.id %>">
              <%= ad.service.name %>
            </span>
          </h2>
          <p><%= ad.description %></p>
           <div class="contact clearfix"> 
            <div>
              <span class = "label">Город:</span>
              <span class = "city"><%= ad.city %></span>
            </div>
            <div>
              <span class = "label">Адрес:</span>
              <span class = 'address'><%= ad.address %></span>
            </div>
          </div><!--/contact-->
          <span class = "price"><%= ad.price %> <i class='fa fa-rub' style = 'font-size: 0.9em;'></i></span>
        </div>
      <% end %>
    </div><!--/worker-posts-->
  </div>

  <% if current_client.id == @client.id %>
    <%= render 'new_advertisement' %>
    <%= render 'new_worker' %>
    <%= render 'edit_advertisement' %>
    <%= render 'edit_worker' %>
  <% end %>
<% end %><%# type user %>