<p align="center">
	<strong>Личный кабинет</strong>
</p>
<p>
  <%= image_tag @client.photo_url(:thumb).to_s %><br>
  <strong>Name:</strong>
  <%= @client.name %>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<%= form_for @review do |f| %>
	<div class="field">
    	<%= f.text_field :name, :placeholder => "Заголовок отзыва" %>
  	</div>
  	<div class="field">
    	<%= f.text_area :description, :placeholder => "Описание", rows: 20%>
  	</div>
  	<div class="actions">
    	<%= f.submit :class => "button middle_green"%>
  	</div>
	
<% end %>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', client_path %>
