<p align="center">
	<strong>Личный кабинет</strong>
</p>

<div id = "user-info" class="clearfix" >
  <div class = "foto">
    <%= image_tag("valera.jpg") %>
  </div><!--/foto-->

  <div class = "user-description">
  <div class = "pseudo">
    <h2><%= @client.name %></h2>
    <p>
      <strong>Телефон:</strong>
      <em>89053570010</em>
    </p>
    <p>
      <strong>Почта:</strong>
      <em>wetcorsair@gmail.com</em>
    </p>
    <p>
      <strong>Баллы:</strong>
      <em>1000</em>
    </p>
  </div><!--/pseudo-->
  </div><!--/user-description-->
</div><!--/user-info-->

<p>
  <strong>Name:</strong>
  <%= @client.name %>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<%= form_for @review do |f| %>
	<div class="field">
    	<%= f.text_field :name, :placeholder => "Заголовок отзыва" %>
  	</div>
  	<div class="field">
    	<%= f.text_area :description, :placeholder => "Описание", rows: 20%>
  	</div>
    <div class="field">
      <input name="id_otp" value="<%= @client.id %>">
    </div>
  	<div class="actions">
    	<%= f.submit :class => "button middle_green"%>
  	</div>
	
<% end %>

<div class = "form-shell">
  <%= form_for @advertisement do |f| %>
    <fieldset>
    <h2>Создание объявления</h2>

    <div class="field">
      <%= f.text_field :name, :placeholder => "Название объявления" %>
    </div>

    <div class="field">
      <legend class="label">Описание:</legend>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.text_field :city, :placeholder => "Город" %>
    </div>

    <div class="field">
      <%= f.text_field :address, :placeholder => "Адрес"%>
    </div>

    <div class="field">
      <%= f.text_field :price, :placeholder => "Цена" %>
    </div>

    <div>
      <div class="field start-time">
        <span class = "for-time">Время: c </span>
        <%= f.time_field :start_hour %>
        <span class = "for-time po">  по </span>
      </div>
      <div class="field end-time">
        <%= f.time_field :end_hour %>
      </div>
    </div>

    <div class="field">
      <%= f.date_field :date %>
    </div>

    <div class="actions">
      <%= f.submit :class => "button middle_green", :value => "Добавить" %>
    </div>

    </fieldset>
  <% end %>
</div>

<div class = "form-shell">
  <%= form_for @worker do |f| %>
    <fieldset>
    <h2>Создание объявления</h2>

    <div class="field">
      <%= f.text_field :name, :placeholder => "Название объявления" %>
    </div>

    <div class="field">
      <legend class="label">Описание:</legend>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.text_field :city, :placeholder => "Город" %>
    </div>

    <div class="field">
      <%= f.text_field :address, :placeholder => "Адрес"%>
    </div>

    <div class="field">
      <%= f.text_field :price, :placeholder => "Цена" %>
    </div>

    <div class="actions">
      <%= f.submit :class => "button middle_green", :value => "Добавить" %>
    </div>

    </fieldset>
  <% end %>
</div>

<% if current_client.id == @client.id %>
  <%= link_to 'Edit', edit_client_path(@client) %>
<% end %>