<%= form_tag edit_specializations_clients_path, :method => 'patch', :remote => true, :id => "edit-specialization" do %>

	<div id = "specializations" class = "clearfix">
		<h2>Выберете специализации</h2>
		<div id = "message-specialization">
		</div><!--/#message-specialization-->
		<% @categories.each do |category| %>
			<div class = "category clearfix">
				<h3><%= category.name %></h3>
				<ul>
					<% category.services.each do |service| %>
						<li>
							<%# check_box_tag "sevice-checkbox-#{service.id}", service.id, false, class: "css-checkbox"%>
							<%= check_box_tag "client[service_ids][]", service.id, current_client.service_ids.include?(service.id), id: dom_id(service), class: "css-checkbox" %>

							<label for="service_<%= service.id %>" class="css-label label-checkbox"><%= service.name %></label><br>
						</li>
					<% end %>
				</ul>
			</div><!--/category-->
		<% end %>
	</div><!--/specialization-->
	<%= submit_tag "Сохранить", :class => "button middle_green" %>
<% end %>