<div id = "ad-posts">
  <% advertisements.order('created_at DESC').each do |ad| %>
    <%#   
      page_type: 0 ---> advertisements#index page
      page_type: 1 ---> clients#show page
    %>
    <% if page_type == 1 %>
    <div class="post var2" data-ad="<%= ad.id %>">
    <% else %>
    <div class="post" data-ad="<%= ad.id %>">
    <% end %>
      <%# 
        edit and delete buttons for client's page
      %>
      <% if page_type == 1 %>
        <% if current_client.id == @client.id %>
          <span class = "edit-ad-link edit-advertisement">
            <i class = "fa fa-pencil"></i>
          </span>
          <span class = "delete-ad-link delete-link">
            <i class = "fa fa-trash"></i>
          </span>
        <% end %>
      <% end %>
      <%#
        photo for advertisements#index page
       %>
      <% if page_type == 0 %>
        <div class = "foto">
          <%# link_to(client_path(ad.client.id)) do %>
            <%# image_tag ad.client.photo_url(:thumb).to_s %>
          <%# end %>
        </div><!--/foto-->
      <% end %>

      <h2>
        <span class = "category" data-cat = "<%= ad.service.category.id %>">
          <%= ad.service.category.name %></span>:
        <span class = "service" data-service = "<%= ad.service.id %>">
          <%= ad.service.name %>
        </span>
      </h2>
      <p><%= ad.description %></p>

      <div class = "duration">
        <span class = "duration-ad"><%= ad.duration %></span><br/><%= Russian::pluralize(ad.duration, "день", "дня", "дней") %>
      </div>

      <div class="contact clearfix"> 
        <div>
          <span class = "label">Город:</span>
          <span class = "city"><%= ad.city %></span>
        </div>
        <div>
          <span class = "label">Адрес:</span>
          <span class = 'address'><%= ad.address %></span>
        </div>
        <div class="date"><%= ad.date.strftime("%d/%m/%Y") %></div>
      </div><!--/contact-->
      <span class = "price"><%= ad.price %> <i class='fa fa-rub' style = 'font-size: 0.9em;'></i></span><br>

      <%# if ad.worker_id %>
        <%# if worker = Client.find_by_id(ad.worker_id) %>
          <!--div class="worker">
            <%# link_to "Исполнитель - #{worker.name}", worker,
              :class => "button light-yellow" %>
            <span class = "cancel-worker button light-yellow">
              Отменить исполнителя
            </span>
          </div>
        <%# end %>
      <%# end %><-->
      <div class = "link-offers">
        <span class = "arrow open-offer"><i class="fa fa-angle-double-up"></i></span>
        <span class = "num-offers"><%= ad.fantom.clients.count %></span>
      </div><!--/link-offers-->

      <% if page_type == 0 %>
      <div class = "bottom-tmtime clearfix">
        <% if ad.state == 0 %>
          <% if current_client.type_user == 1 %>
            <span class = "button open perform-ad"
            data-ad_id="<%= ad.id %>">Предложить</span>
          <% end %>
        <% elsif ad.state == 1 %>
          <span class = "button not-button white-green">Исполнитель определен</span>
        <% elsif ad.state == 2 %>
          <span class = "button not-button white-green">Выполнен</span>
        <% elsif ad.state == 3 %>
          <span class = "button not-button white-green">Отменен</span>
        <% end %>
        <% if Admin.find_by(id: session[:admin_id]) %>
          <%= link_to(ad, method: :delete, data: {confirm: 'Вы уверены?'}) do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </div><!--/bottom-tmlabel-->
      <% end %>

      <div class = "up-post">
        <h2>Предложения от:</h2>
        <div class = "offers">
          <% ad.fantom.clients.select(:id, :name).each do |offer| %>
            <div class = "offer clearfix">
              <%= link_to offer.name, offer, class: "name" %>
              <% if !ad.worker_id %>
                <span class = "button blue-dashed link-agree">Принять</span>
              <% else %>
                <% if ad.worker_id == offer.id %>
                  <span class = "button blue-dashed cancel-worker">Отменить</span>
                <% end %>
              <% end %>
            </div><!--/offer-->
          <% end %>
        </div><!--/offers-->
        <div class = "link-offers-hide">
          <span class = "arrow"><i class="fa fa-angle-double-down"></i></span>
          <span class = "num-offers"><%= ad.fantom.clients.count %></span>
        </div><!--/link-offers-->
      </div><!--/up-post-->

    </div><!--/post-->
  <% end %>
</div><!--/ad-posts-->