<ul class="cbp_tmtimeline">
<% @advertisements.each do |ad| %>
  <li>
    <time class="cbp_tmtime"><span><%= ad.date.strftime("%d/%m/%Y") %></span> <span><%= ad.start_hour.strftime("%H:%M") %></span></time>
    <div class="cbp_tmicon cbp_tmicon-phone"><%= image_tag("valera.jpg") %></div>
    <div class="cbp_tmlabel">
      <h2><%= ad.name %></h2>
      <p><%= ad.description %></p>
      <span><%= ad.price %> ั.ะต. </span>
    </div>
  </li>
<% end %>
</ul>