
<% if @advertisements && !@advertisements.empty? %>

<%#   
  page_type: 0 ---> advertisements#index page
  page_type: 1 ---> clients#show page
%>

<div class = "advertisements-posts">
  <%= render 'advertisement_post', {advertisements: @advertisements, page_type: 0} %>
</div><!--/advertisements-posts-->



<div id = "ad-right-panel">
  <div class = "filters">
    <h2>Фильтр</h2>
    <span class = "show-filter-link"><i class="fa fa-angle-double-down"></i></span>
    <span class = "hide-filter-link"><i class="fa fa-angle-double-up"></i></span>
    <%= form_tag "/advertisements", method: :get do %>

      <div class="field clearfix">
        <label>Бюджет от (<i class="fa fa-rub" style="font-size: 0.9em;"></i>)</label>
        <%= text_field_tag(:price, @price) %>
      </div><!--/field-->

      <div class="field clearfix">
        <label>Город</label>
        <%= text_field_tag(:city) %>
      </div><!--/field-->

      <div class="field">
        <%= collection_select(:category, :category_id, Category.all, :id, :name, 
          {:selected => @category_id, :include_blank => 'Категория'}, {:class => "category-select cs-select2 cs-skin-border", :name => "category"}) %>
      </div>

      <div class="field">
        <%= collection_select(:advertisement, :service_id, Service.where(category: @category_id), :id, :name, 
          {:selected => @service_id, :include_blank => 'Тип объявления'}, {:class => "services-select cs-select cs-skin-border", :name => "service_id"}) %>
      </div>

      <div class = "field clearfix">
        <label></label><%= submit_tag "Применить" %>
      </div>
    <% end %>
  </div><!--/filters-->

  <div id = "silver-workers">
    <h2>Мастера:</h2>
    <div class = "silver-worker">
      <%= image_tag "valera.jpg", class: "photo" %>
      <div class = "name">Вилли</div>
      <div class = "specialization">Сантехник</div>
    </div><!--/silver-worker-->
    
    <div class = "silver-worker">
      <%= image_tag "karpin.jpg", class: "photo" %>
      <div class = "name">Валера</div>
      <div class = "specialization">Тренер</div>
    </div><!--/silver-worker-->
  </div><!--/selver-workers-->
</div><!--/ad-right-panel-->

<div class="flickr_pagination">
  <div class="page_info">
  </div>
  <%= will_paginate @advertisements, :container => false, 
    :previous_label => '<', :next_label => '>' %>
</div>
<% end %>
<% end %>



<script>
  (function() {
    [].slice.call( document.querySelectorAll( '#ad-right-panel select.cs-select' ) ).forEach( function(el) {  
      new SelectFx(el);
    } );
  })();

  (function() {
    [].slice.call( document.querySelectorAll( '#ad-right-panel select.cs-select2' ) ).forEach( function(el) {  
      new SelectFx(el);
    } );
  })();

</script>

