<div class="flash flash-margin">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
</div>

<div class = "information clearfix">
  <div class="girl">
    <%= image_tag("girl.jpg") %>
  </div>
  <div class="theses">
    <div class = "thesis">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <div class = "thesis">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </div>
    <div class = "thesis">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
    </div><!--/thesis-->
  </div><!--/theses-->
</div>

<div class="poloska clearfix">
  <h2>Категории</h2>
  <div class="horiz-right-menu">
    <nav>
      <ul>
        <li class=""><a href="#section-linemove-1"><i class="fa fa-sign-in"></i><span>Заказы</span></a></li>
        <li class="tab-current"><a href="#section-linemove-5"><i class="fa fa-home"></i><span>Работники</span></a></li>
      </ul>
    </nav>
  </div><!--/horiz-right-menu-->
</div>

<div class = "categories">
  <div class = "category">
    <a href="">
    <%= image_tag("remont-icon.png") %>
    </a>
  </div><!--/category-->
  <div class = "category">
    <a href="">
    <%= image_tag("electric-icon.png") %>
    </a>
  </div><!--/category-->
  <div class = "category">
    <a href="">
    <%= image_tag("stroy-icon.png") %>
    </a>
  </div><!--/category-->
  <div class = "category">
    <a href="">
    <%= image_tag("santech-icon.png") %>
    </a>
  </div><!--/category-->
</div><!--/categories-->

<script>
  $(".head").hover(
    function() {
      //$( this ).addClass( "hover" );
      $( this ).parent().find(".pet").addClass("c2");
    }, function() {
      //$( this ).removeClass( "hover" );
      $( this ).parent().find(".pet").removeClass("c2");
    }
  );

  window.onload = function() {
    var flash = $(".flash");
    if (flash.children().length > 0) {
      flash.addClass("opacity1");
      flash.slideDown(1000);
      flash.delay( 5000 ).slideUp( 1000 );
    }
  }
</script>