<div class="flash">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
</div>

<div class = "plug"></div>

<div id = "center-part" class="clearfix">
  <%= render 'flower', link: "<a class = 'head'>Список<br/>услуг</a>".html_safe %>

  <div class = "proc-50">
    <div id = "description-project" class = "clearfix">
      Всё в сфере услуг, что сделает мою жизнь комфортной
    </div><!--/description-project-->

    <form id = "start-search">
      <span>
        <input placeholder = "Я МОГУ" type = "text" name = "i-can" /><input placeholder = "Я ХОЧУ" id = "input-right" type = "text" name = "i-want" />
      </span>
      <input id = "search-submit" class = "button middle_green" type = "submit" value = "Найти" />
      <a id = "search-submit" class = "button light_green" >Гость</a>
    </form>
  </div><!--/proc-50-->

  <%= render 'flower', link: "<a class = 'head'>Ваша<br/>экономика</a>".html_safe %>

</div><!--/center-part-->

<div id = "flowers">
  <%= render 'flower', link: "<a class = 'head'>Ваша<br/>экономика</a>".html_safe %>

  <% buf = "#{link_to signin_path, class: "head one-line" do
                "Войти"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>
  
  <% buf = "#{link_to registration_path, class: "head one-line" do
                "Регистрация"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>

  <%= render 'flower', link: "<a class = 'head one-line'>Агенты</a>".html_safe %>
</div><!--/flowers-->

<script>
  $(".head").hover(
    function() {
      //$( this ).addClass( "hover" );
      $( this ).parent().find(".pet").addClass("c2");
    }, function() {
      //$( this ).removeClass( "hover" );
      $( this ).parent().find(".pet").removeClass("c2");
    }
  );

  $(document).on('page:change', function () {
    var flash = $(".flash");
    if (flash.children().length > 0) {
      flash.addClass("opacity1");
      flash.slideDown(1000);
      flash.delay( 5000 ).slideUp( 1000 );
    }
  });
</script>