<div class="flash">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
</div>

<div class = "service-day clearfix">
  <div class = "foto">
    <%= image_tag("valera.jpg") %>
  </div><!--/foto-->
  <div class = "description">
    <span class = "ad">Услуга дня!</span>
    <h2>Твой Сэлфер</h2>
    <p>Алина Арбенина уникальный сэлфер, ее дизайн домашнего интерьера поражает простотой и функциональностью решения.</p>
  </div><!--/-->
</div><!--/service-day-->

<div id = "center-part" class="clearfix">
  <%= render 'flower', link: "<a class = 'head'>Список<br/>услуг</a>".html_safe %>

  <div class = "proc-50">
    <div id = "description-project" class = "clearfix">
      Всё в сфере услуг, что сделает мою жизнь комфортной
    </div><!--/description-project-->

    <%= form_tag("/advertisements", method: "get", id: "start-search" ) do %>
      <!--input placeholder = "Я МОГУ" type = "text" name = "i-can" /><input placeholder = "Я ХОЧУ" id = "input-right" type = "text" name = "i-want" /-->
    <div>
      <%= collection_select(:advertisement, :service_id, Service.all, :id, :name, 
        {:prompt => "Я хочу"}, {:class => "cs-select cs-skin-border"}) %>
      <%= collection_select(:worker, :service_id, Service.all, :id, :name, 
        {:prompt => "Я могу"}, {:class => "cs-select cs-skin-border"}) %>
    </div>
      <div><input id = "search-submit" class = "button middle_yellow" type = "submit" value = "Найти" /></div>
      <div><a id = "search-submit" class = "button light_yellow-button" >Гость</a></div>
    <% end %>
  </div><!--/proc-50-->
  <%= render 'flower', link: "<a class = 'head'>Ваша<br/>экономика</a>".html_safe %>
</div><!--/center-part-->

<div id = "flowers">
  <%= render 'flower', link: "<a class = 'head'>Ваша<br/>экономика</a>".html_safe %>

<% if signed_in? %>
  <% buf = "#{link_to current_client, class: "head" do
                "Личный кабинет"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>
  
  <% buf = "#{link_to signout_path, method: "delete", class: "head one-line" do
                "Выйти"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>  
<% else %>
  <% buf = "#{link_to signin_path, class: "head one-line" do
                "Войти"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>
  
  <% buf = "#{link_to registration_path, class: "head one-line" do
                "Регистрация"
              end}" %>
  <%= render 'flower', link: buf.html_safe %>
<% end %>

  <%= render 'flower', link: "<a class = 'head one-line'>Агенты</a>".html_safe %>
</div><!--/flowers-->

<script>
  $(".head").hover(
    function() {
      //$( this ).addClass( "hover" );
      $( this ).parent().find(".pet").addClass("c2");
    }, function() {
      //$( this ).removeClass( "hover" );
      $( this ).parent().find(".pet").removeClass("c2");
    }
  );

  window.onload = function() {
    var flash = $(".flash");
    if (flash.children().length > 0) {
      flash.addClass("opacity1");
      flash.slideDown(1000);
      flash.delay( 5000 ).slideUp( 1000 );
    }
  }
</script>

<script>
  (function() {
    [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
      new SelectFx(el);
    } );
  })();
</script>