<div class = "form-shell">
  <%= form_for @category do |category| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%# pluralize(@category.errors.count, "error") %>
          Cведения об этом пользователе не могут быть сохранены:
        </h2>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  	<div class="field">
      	<%= category.label :name %><br>
      	<%= category.text_field :name%>
    </div>
    <div class="actions">
      	<%= category.submit %>
    </div>
  <% end %>
</div>