<!DOCTYPE html>
<html>
<head>
  <title>SelfAgency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class = "frame">

<%= render 'layouts/header' %>

<section id = "grid-main">
  <div class = "container clearfix">
    <%= yield %>
    <div id="fade" class="black-overlay" style="display: none;"></div>
    <%= render 'layouts/signin' %>
    <%= render 'layouts/signup' %>
    <%= render 'layouts/passreset' %>
    <%= render 'layouts/success' %>
  </div><!--/container-->
</section><!--/grid-wrap-->

</body>
</html>
